/* Home Page Begins */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

body,
html {
	height: 100%;
}

.home_wrapper {
	background-image: url('./images/HeroNnav/Background.png');
	background-color: white;
	background-size: cover;
	position: relative;
	width: 100vw;
	height: 127vh;
	left: 0px;
	top: 0px;
	z-index: -1;
	font-family: 'Rubik', sans-serif;
}

/* Navbar begins */
.navbar_wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.navbar_left {
	display: flex;
	justify-content: space-between;
	margin-left: 9vw;
}

.navbarleft_taskdo {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
.navbarleft_taskdo_icon {
	margin-top: 20px;
	height: 32.54px;
	width: 34px;
}
.navbarleft_taskdo_heading {
	margin-top: 20px;
	font-size: 1.6rem;
}

.navbarleft_items {
	display: flex;
	justify-content: space-between;
	font-family: 'Rubik', sans-serif;
	margin-top: 2vh;
	margin-left: 7vw;
}
.navbarleft_items_id {
	font-weight: normal;
	margin-left: 1.5vw;
	margin-left: 2vw;
	font-size: 1rem;
}

.navbar_right {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 9vw;
}
.navbar_right_logo2 {
	margin-left: 1vw;
}
/* Navbar ends */

/* Hero begins */
.hero_wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.hero_left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 28vh;
}
.hero_left_l1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 850;
	font-size: 3.5rem;
	line-height: 0px;
}
.hero_left_l2 {
	margin-top: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 850;
	font-size: 3.5rem;
}
.hero_left_btn {
	height: 7vh;
	width: 10vw;
	margin-top: 3vh;
	padding: 1%;
	border-radius: 8px;
	background: rgb(122, 16, 209);
	font-size: 1rem;
	border: none;
	text-decoration: none;
	color: white;
}

.hero_right {
	margin-top: 13vh;
	margin-left: 2vw;
}
/* Hero ends */

/* Carousel begins */
.carousel_wrapper {
	/* margin-top:2vh; */
	display: flex;
	flex-direction: column;
}

.carousel_logos {
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 6vh;
	margin-bottom: 6vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow: hidden;
	transform-style: preserve-3d;
	width: 90%;
}

.carousel_logos * {
	box-sizing: border-box;
}
.carousel__photo {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 20%;
	margin: auto;
	padding: 1rem 4rem;
	z-index: 100;
	transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}
.carousel__photo.initial,
.carousel__photo.active {
	opacity: 1;
	position: relative;
	z-index: 900;
}
.carousel__photo.prev,
.carousel__photo.next {
	opacity: 0.2;
	z-index: 800;
}
.carousel__photo.prev {
	transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
	transform: translateX(100%); /* Move 'next' item to the right */
}
.carousel__button--prev,
.carousel__button--next {
	position: absolute;
	top: 50%;
	width: 3rem;
	height: 3rem;
	background-color: #fff;
	transform: translateY(-50%);
	border-radius: 50%;
	cursor: pointer;
	z-index: 1001; /* Sit on top of everything */
	border: 1px solid rgb(10, 13, 141);
	
}
.carousel__button--prev {
	left: 0;
}
.carousel__button--next {
	right: 0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
	content: ' ';
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%;
	left: 54%;
	border-right: 2px solid rgb(0, 17, 95);
	border-bottom: 2px solid rgb(11, 1, 100);
	transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
	left: 47%;
	transform: translate(-50%, -50%) rotate(-45deg);
}
/* Carousel ends */

/* Home page ends */

/* Features start */
.TailorM_wrapper {
	/* Auto Layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: static;
	left: 31.25%;
	right: 31.25%;
	top: 9.52%;
	bottom: 70.24%;

	/* Inside Auto Layout */
	flex: none;
	order: 0;
	align-self: center;
	flex-grow: 0;
	margin: 48px 0px;
}

.TailorM_heading {
	position: static;
	width: 50vw;
	height: 5vh;
	margin-left: 23vw !important;
	top: 0px;

	/* Heading / H2 */
	font-family: Inter;
	font-style: normal;
	font-weight: 800 !important;
	font-size: 3rem;

	/* identical to box height, or 133% */
	text-align: center;
	font-feature-settings: 'salt' on, 'liga' off;

	/* Text / Gray 900 */
	color: #18191f;

	/* Inside Auto Layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 8px 0px;
}

.TailorM_desc {
	position: static;
	width: 40vw;
	height: 64px;
	margin-left: 27vw !important;
	margin-top: 6vh !important;

	/* Lead / Lead 1 */
	font-family: Inter;
	font-style: normal;
	font-weight: 100 !important;
	font-size: 1rem;

	/* or 178% */
	text-align: center;
	font-feature-settings: 'salt' on, 'liga' off;

	/* Text / Gray 900 */
	color: #18191f;

	/* Inside Auto Layout */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 8px 0px;
}

.Row1_data {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 6vw;
	margin-right: 6vw;
	margin-top: 6vh;
}

.feature1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.5vw;
}

.feature1 p {
	text-align: center;
}

/* Features End */

/* Reviews begin */

.reviews_wrapper {
	position: absolute;
	background: #d5fafc;
	margin-top: 5vh;
	width: 100vw;
	height: 135vh;
}

.inverted_comma {
	height: 120px;
	width: 142.37px;
	position: absolute;
	margin-left: 11vw;
	margin-top: 10vh;
	mix-blend-mode: multiply;
	opacity: 0.4;
}

.reviews_sub {
	margin-left: 19vw;
	margin-top: 42vh;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
}

.reviews_heading {
	position: absolute;
	width: 30vw;
	height: 15vh;
	margin-left: 19vw;
	margin-top: 22vh;
	mix-blend-mode: multiply;
	font-family: Inter;
	font-style: normal;
	font-weight: 800;
	font-size: 2.5rem;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #18191f;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.testimonial1 {
	height: 50vh;
	margin-left: 27vw;
	width: 17vw;
	padding: 2%;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
	border-radius: 8px;
}

.t_smallcomma {
	height: 14px;
	width: 16px;
	opacity: 0.4;
	margin-top: 3vh;
}

.testimonial1_text {
	font-family: Inter;
	width: 15vw;
	transform: translate(-4%, -20%);
	font-style: normal;
	font-weight: normal;
	font-size: 0.8rem;
	line-height: 27px;
	text-align: left;
	margin-left: 3vw;
	flex: none;
	order: 0;
	align-self: center;
	flex-grow: 0;

	font-feature-settings: 'salt' on, 'liga' off;
	color: #18191f;
}

.testimonial1_minitxt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transform: translate(15%, 470%);
	position: absolute;
	width: 147px;
	height: 52px;
	/* Inside Auto Layout */
	flex: none;
	order: 1;
	align-self: flex-start;
	flex-grow: 0;
}
.testimonial1_minitxt2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transform: translate(15%, 510%);
	position: absolute;
	width: 147px;
	height: 52px;
	/* Inside Auto Layout */
	flex: none;
	order: 1;
	align-self: flex-start;
	flex-grow: 0;
	opacity: 0.4;
}
.testimonial2 {
	margin-left: 47vw;
	transform: translate(10%, -170%);
	width: 23vw;
	height: 35vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2%;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
	border-radius: 8px;
}
.testimonial2_text {
	font-family: Inter;
	width: 20vw;
	transform: translate(0%, -40%);
	font-style: normal;
	font-weight: normal;
	font-size: 0.8rem;
	line-height: 27px;
	text-align: left;
	margin-left: 2vw;
	flex: none;
	order: 0;
	align-self: center;
	flex-grow: 0;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #18191f;
}
.testimonial2_minitxt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transform: translate(25%, 300%);
	position: absolute;
	width: 147px;
	height: 52px;
	/* Inside Auto Layout */
	flex: none;
	order: 1;
	align-self: flex-start;
	flex-grow: 0;
}
.testimonial2_minitxt2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transform: translate(25%, 340%);
	position: absolute;
	width: 147px;
	height: 52px;
	/* Inside Auto Layout */
	flex: none;
	order: 1;
	align-self: flex-start;
	flex-grow: 0;
	opacity: 0.4;
}
.testimonial3 {
	margin-left: 48vw;
	transform: translate(8%, -180%);
	width: 17vw;
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2%;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
	border-radius: 8px;
}
.testimonial3_text {
	font-family: Inter;
	width: 15vw;
	transform: translate(-1%, -75%);
	font-style: normal;
	font-weight: normal;
	font-size: 0.8rem;
	line-height: 27px;
	text-align: left;
	margin-left: 2vw;
	flex: none;
	order: 0;
	align-self: center;
	flex-grow: 0;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #18191f;
}
.testimonial3_minitxt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transform: translate(15%, 250%);
	position: absolute;
	width: 147px;
	height: 52px;
	/* Inside Auto Layout */
	flex: none;
	order: 1;
	align-self: flex-start;
	flex-grow: 0;
}
.testimonial3_minitxt2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transform: translate(15%, 290%);
	position: absolute;
	width: 147px;
	height: 52px;
	flex: none;
	order: 1;
	align-self: flex-start;
	flex-grow: 0;
	opacity: 0.4;
}
/* Reviews End*/

/* Stats Start */

.stats_wrapper {
	display: flex;
	flex-direction: row;
	position: absolute;
	justify-content: space-evenly;
	background: rgb(255, 255, 255);
	width: 100vw;
	height: 45vh;
	transform: translate(0, 311%);
}

.stats_left {
	margin-top: 15vh;
	display: flex;
	flex-direction: column;
	margin-left: 5vw;
	transform: translate(-20%, 0%);
}

.stats_left_h1 {
	position: relative;
	font-family: Inter;
	font-style: normal;
	font-weight: 800;
	font-size: 3rem;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #18191f;
}

.stats_left_h2 {
	position: absolute;
	margin-top: 10vh;
	font-family: Inter;
	font-style: normal;
	font-weight: 800;
	font-size: 3rem;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #18191f;
}
.stats_left_h3 {
	position: absolute;
	margin-top: 20vh;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 32px;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #18191f;
}

.stats_right {
	margin-left: 5vw;
	display: flex;
	flex-direction: column;
	margin-top: 15vh;
	transform: translate(-45%, 5%);
}

/* row 1 */

.stats_row1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.stats_row1_c1,
.stats_row1_c2 {
	display: flex;
	flex-direction: row;
}

.stats_r1c1_text,
.stats_r1c2_text {
	display: flex;
	flex-direction: column;
}

/*// row 1 */

/* row2 */
.stats_row2 {
	display: flex;
	flex-direction: row;
}

.stats_row2_c1 {
	display: flex;
	flex-direction: row;
	margin-right: 7vw;
	margin-top: 5vh;
}

.stats_r2c1_text,
.stats_r2c2_text {
	display: flex;
	flex-direction: column;
	margin-top: 1vh;
}

.stats_row2_c2 {
	display: flex;
	flex-direction: row;
	margin-top: 5vh;
}

.stats_r2c2_text1,
.stats_r2c1_text1,
.stats_r1c2_text1,
.stats_r1c1_text1 {
	font-weight: 1000;
	font-size: 1.2rem;
	margin-left: 1vw;
}

.stats_r2c2_text2,
.stats_r2c1_text2,
.stats_r1c2_text2,
.stats_r1c1_text2 {
	margin-top: 1vh;
	margin-left: 1vw;
}

/*// row2 End*/
/* //Stats End*/

/* Last section begins */
.last_section {
	display: flex;
	flex-direction: row;
	position: absolute;
	justify-content: space-evenly;
	background: rgb(255, 255, 255);
	width: 100vw;
	height: 100vh;
	transform: translate(0, 192%);
}

.last_section img {
	width: 40vw;
	height: 85vh;
	transform: translate(-2%, 7%);
}

.last_section_text {
	display: flex;
	flex-direction: column;
	width: 25vw;
	margin-top: 25vh;
	margin-right: 5vw;
}

.lastsec_headline {
	position: static;
	width: 30vw;
	height: 5vh;
	margin-left: 0vw;
	font-family: Inter;
	font-style: normal;
	font-weight: 800;
	font-size: 2.5rem;
}

.lastsec_text {
	position: static;
	width: 30vw;
	height: 20vh;
	margin-top: 5vh;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 1.1rem;
	line-height: 32px;
}

.lastsec_gets {
	position: absolute;
	margin-top: 50vh;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 24px;
	font-feature-settings: 'salt' on, 'liga' off;
	color: #8c30f5;
}
/* //Last section ends */

/* Footer Section */
.footer_wrapper {
	height: 45vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: black;
	transform: translate(0, 670%);
}

.footer_left {
	display: flex;
	flex-direction: column;
	margin-top: 6vh;
	margin-right: 10vw;
}

.footer_img1 {
	height: 6vh;
	width: 3vw;
	border-radius: 50%;
	margin-left: 1.5vw;
}

.footer_left_line1 {
	display: flex;
	flex-direction: row;
	color: white;
	text-align: left;
	font-size: 1rem;
}
.footer_left_line2 {
	display: flex;
	flex-direction: row;
	color: white;

	font-size: 1rem;
}

.footer_line2_p {
	margin-left: 1.5vw;
	text-align: left;
}

.tm {
	color: white;
	font-size: 0.9rem;
	margin-left: 1.5vw;
}

.footer_right {
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
}

.footer_right_line1 {
	color: white;
}

.flogo1,
.flogo2 {
	margin-top: 3vh;
	border-radius: 6px;
}

/* Home Ends */

/* -----------------------------------RESPONSIVE DESIGN------------------------- */

@media screen and (max-width: 1200px) {
	.testimonial1 {
		height: 30vh;
	}
	.testimonial2 {
		height: 20vh;
	}
	.testimonial3 {
		margin-top: 5vh;
		height: 20vh;
	}
}

@media screen and (max-width: 1140px) {
	.testimonial1_text,
	.testimonial2_text,
	.testimonial3_text {
		line-height: 15px;
	}
}

@media screen and (max-width: 992px) {
	.carousel_logos img {
		width: 8vw;
		height: 3vh;
	}

	.hero_left_l1,
	.hero_left_l2 {
		font-family: 'Poppins', sans-serif;
		font-weight: 650;
		font-size: 3rem;
		line-height: 0px;
	}

	.navbar_wrapper {
		flex-direction: column;
	}
}

@media screen and (max-width: 856px) {
	.hero_left_l1,
	.hero_left_l2 {
		font-family: 'Poppins', sans-serif;
		font-weight: 450;
		font-size: 2rem;
		line-height: 0px;
	}
}

@media screen and (max-width: 680px) {
	.reviews_heading {
		font-weight: 600;
		font-size: 2rem;
	}
	.hero_left_l1,
	.hero_left_l2 {
		font-family: 'Poppins', sans-serif;
		font-weight: 250;
		font-size: 2rem;
		line-height: 0px;
		margin-left: 2vw;
	}

	.hero_left_btn {
		margin-left: 2vw;
	}

	.hero_wrapper,
	.Row1_data,
	.Row2_data {
		flex-direction: column;
	}

	.testimonial1 {
		margin-left: 17vw;
		height: 30vh;
		width: 25vw;
	}
	.testimonial2 {
		height: 20vh;
		width: 30vw;
	}
	.testimonial3 {
		margin-top: 5vh;
		height: 20vh;
		width: 25vw;
	}
}

@media screen and (max-width: 584px) {
	.TailorM_heading {
		font-weight: 500 !important;
		font-size: 2rem;
	}
	.navbar_left {
		flex-direction: column;
	}

	.hero_left_btn {
		margin-left: 2vw;
		width: 20vw;
	}

	.testimonial1 {
		margin-left: 17vw;
		height: 30vh;
		width: 30vw;
	}
	.testimonial1_text,
	.testimonial2_text,
	.testimonial3_text {
		width: 25vw;
	}
	.testimonial2 {
		height: 20vh;
		width: 35vw;
	}

	.testimonial3 {
		margin-top: 5vh;
		height: 20vh;
		width: 30vw;
	}
}
