/* Home Page Begins */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

body,
html {
	height: 100%;
}

.home_wrapper {
	background-image: url('./images/HeroNnav/Background.jpg');
	background-color: white;
	background-size: auto;
	position: relative;
	width: 102vw;
	height: 120vh;
	left: 0px;
	top: 0px;
	z-index: -1;
	font-family: 'Rubik', sans-serif;
}

/* Navbar begins */
.navbar_wrapper {
	display: flex;
	justify-content: space-between;
}

.navbar_left {
	display: flex;
	justify-content: space-between;
	margin-left: 9vw;
}

.navbarleft_taskdo {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
.navbarleft_taskdo_icon {
	margin-top: 20px;
	height: 32.54px;
	width: 34px;
}
.navbarleft_taskdo_heading {
	margin-top: 20px;
	font-size: 1.6rem;
}

.navbarleft_items {
	display: flex;
	justify-content: space-between;
	font-family: 'Rubik', sans-serif;
	margin-top: 2vh;
	margin-left: 7vw;
}
.navbarleft_items_id {
	font-weight: normal;
	margin-left: 1.5vw;
	margin-left: 2vw;
	font-size: 1rem;
}

.navbar_right {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 9vw;
}
.navbar_right_logo2 {
	margin-left: 1vw;
}
/* Navbar ends */

/* Hero begins */
.hero_wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.hero_left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 28vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 4rem;
}
.hero_left_btn {
	height: 6vh;
	width: 10vw;
	margin-top: 3vh;
	padding: 1%;
	border-radius: 8px;
	background: rgb(122, 16, 209);
	font-size: 1rem;
	border: none;
	text-decoration: none;
	color: white;
}

.hero_right {
	margin-top: 13vh;
	margin-left: 2vw;
}
/* Hero ends */

/* Carousel begins */
.carousel_wrapper {
	margin-top:2vh;
	display: flex;
	flex-direction: column;
}

.carousel_logos {
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 6vh;
	margin-bottom: 6vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
/* Carousel ends */

/* Home page ends */

/* Features start */
.TailorM_wrapper {
	/* Auto Layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: static;
	left: 31.25%;
	right: 31.25%;
	top: 9.52%;
	bottom: 70.24%;

	/* Inside Auto Layout */
	flex: none;
	order: 0;
	align-self: center;
	flex-grow: 0;
	margin: 48px 0px;
}

.TailorM_heading {
	position: static;
	width: 50vw;
	height: 5vh;
	margin-left: 23vw !important;
	top: 0px;

	/* Heading / H2 */
	font-family: Inter;
	font-style: normal;
	font-weight: 800 !important;
	font-size: 3rem;

	/* identical to box height, or 133% */
	text-align: center;
	font-feature-settings: 'salt' on, 'liga' off;

	/* Text / Gray 900 */
	color: #18191f;

	/* Inside Auto Layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 8px 0px;
}

.TailorM_desc {
	position: static;
	width: 45vw;
	height: 64px;
	margin-left: 25vw !important;
	margin-top: 6vh !important;

	/* Lead / Lead 1 */
	font-family: Inter;
	font-style: normal;
	font-weight: 100 !important;
	font-size: 1rem;

	/* or 178% */
	text-align: center;
	font-feature-settings: 'salt' on, 'liga' off;

	/* Text / Gray 900 */
	color: #18191f;

	/* Inside Auto Layout */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 8px 0px;
}

.Row1_data {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 6vw;
	margin-right: 6vw;
	margin-top: 6vh;
}

.feature1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1.5vw;
}

.feature1 p {
	text-align: center;
}

/* Features End */
/* Home Ends */
